<form #productForm="ngForm" (ngSubmit)="onFormSubmit(productForm, product)">

    <div class="form-group">
        <label>id</label>
        <input [(ngModel)]="product.id" name="id" type="text" 
            class="form-control" pattern="" disabled>
    </div>

    <div class="form-group">
        <label>name</label>
        <input [(ngModel)]="product.name" name="name" type="text" 
            class="form-control" pattern=".{3,30}" required>
        <div [hidden]="productForm.controls.name?.valid || productForm.controls.name?.pristine" class="alert">
            Nem megfelelő adat
        </div>
    </div>

    <div class="form-group">
        <label>desc</label>
        <input [(ngModel)]="product.description" name="description" type="text" 
            class="form-control" pattern=".{3,100}" required>
        <div [hidden]="productForm.controls.description?.valid || productForm.controls.description?.pristine" class="alert">
            Nem megfelelő adat
        </div>
    </div>

    <div class="form-group">
        <label>featured</label>
        <input [(ngModel)]="product.featured" name="featured" type="checkbox" 
            class="form-check" pattern="">
    </div>

    <div class="form-group">
        <label>active</label>
        <input [(ngModel)]="product.active" name="active" type="checkbox" 
            class="form-check" pattern="">
    </div>

    <button [disabled]="productForm.invalid || updating" class="btn btn-block btn-success">
        <i *ngIf="!updating" class="fa fa-save"></i>
        <i *ngIf="updating" class="fa fa-refresh"></i>
    </button>

</form>
