<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Featured</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.featured }}</td>
      <td>{{ product.active }}</td>
      <td>
          <div class="btn-group">
              <button type="button" class="btn btn-primary">Update</button>
            <button (click)="onDelete(product)" type="button" class="btn btn-danger">Delete</button>
          </div>
        
      </td>
    </tr>
  </tbody>
</table>
